# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next/
out/
build
dist
dist/
apps/**/dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# turbo
.turbo
.vercel
.turbo
packages/ui/storybook-static/1266.04b4f913.iframe.bundle.js
packages/ui/storybook-static/1295.60b1cd7b.iframe.bundle.js
packages/ui/storybook-static/1551.b7d63868.iframe.bundle.js
packages/ui/storybook-static/2386.e096b76f.iframe.bundle.js
packages/ui/storybook-static/2606.3aeb02e8.iframe.bundle.js
packages/ui/storybook-static/337.42c81676.iframe.bundle.js
packages/ui/storybook-static/3611.a5a0e04c.iframe.bundle.js
packages/ui/storybook-static/3652.fb920f78.iframe.bundle.js
packages/ui/storybook-static/3652.fb920f78.iframe.bundle.js.map
packages/ui/storybook-static/5236.01d22fcc.iframe.bundle.js
packages/ui/storybook-static/5301.f7b3f700.iframe.bundle.js
packages/ui/storybook-static/5301.f7b3f700.iframe.bundle.js.LICENSE.txt
packages/ui/storybook-static/5351.530867e2.iframe.bundle.js
packages/ui/storybook-static/5448.7ba2882f.iframe.bundle.js
packages/ui/storybook-static/5448.7ba2882f.iframe.bundle.js.map
packages/ui/storybook-static/5456.cd679a62.iframe.bundle.js
packages/ui/storybook-static/5456.cd679a62.iframe.bundle.js.LICENSE.txt
packages/ui/storybook-static/5509.f7ad7017.iframe.bundle.js
packages/ui/storybook-static/5509.f7ad7017.iframe.bundle.js.LICENSE.txt
packages/ui/storybook-static/5509.f7ad7017.iframe.bundle.js.map
packages/ui/storybook-static/5782.addd8181.iframe.bundle.js
packages/ui/storybook-static/5937.71f2282c.iframe.bundle.js
packages/ui/storybook-static/7831.803633e1.iframe.bundle.js
packages/ui/storybook-static/8194.7fdb9dac.iframe.bundle.js
packages/ui/storybook-static/8520.5c3b195d.iframe.bundle.js
packages/ui/storybook-static/8651.5d2db758.iframe.bundle.js
packages/ui/storybook-static/8651.5d2db758.iframe.bundle.js.LICENSE.txt
packages/ui/storybook-static/8940.3199f41c.iframe.bundle.js
packages/ui/storybook-static/9744.f8971960.iframe.bundle.js
packages/ui/storybook-static/9744.f8971960.iframe.bundle.js.LICENSE.txt
packages/ui/storybook-static/Avatar-Avatar-stories.8a98427f.iframe.bundle.js
packages/ui/storybook-static/Button-Button-stories.a2aa65f5.iframe.bundle.js
packages/ui/storybook-static/Card-Card-stories.81398f4c.iframe.bundle.js
packages/ui/storybook-static/Checkbox-Checkbox-stories.b2e3fe89.iframe.bundle.js
packages/ui/storybook-static/Chip-Chip-stories.b8fb0e56.iframe.bundle.js
packages/ui/storybook-static/DatePicker-DateField-stories.4eadeaee.iframe.bundle.js
packages/ui/storybook-static/DatePicker-DatePicker-stories.91366f5f.iframe.bundle.js
packages/ui/storybook-static/Dialog-Dialog-stories.4d283fb7.iframe.bundle.js
packages/ui/storybook-static/Dropdown-Dropdown-stories.0a76a9d8.iframe.bundle.js
packages/ui/storybook-static/favicon.svg
packages/ui/storybook-static/FormDivider-FormDivider-stories.f7d3fba3.iframe.bundle.js
packages/ui/storybook-static/FormGroup-FormGroup-stories.9a5c5073.iframe.bundle.js
packages/ui/storybook-static/iframe.html
packages/ui/storybook-static/index.html
packages/ui/storybook-static/index.json
packages/ui/storybook-static/Input-Input-stories.5deb728b.iframe.bundle.js
packages/ui/storybook-static/main.48b46aa4.iframe.bundle.js
packages/ui/storybook-static/MultiSelect-MultiSelect-stories.04971844.iframe.bundle.js
packages/ui/storybook-static/Note-Note-stories.0a571eb4.iframe.bundle.js
packages/ui/storybook-static/Popover-Popover-stories.8d1cadf2.iframe.bundle.js
packages/ui/storybook-static/Popover-Popover-stories.8d1cadf2.iframe.bundle.js.LICENSE.txt
packages/ui/storybook-static/project.json
packages/ui/storybook-static/RadioGroup-RadioGroup-stories.a0abc84f.iframe.bundle.js
packages/ui/storybook-static/RangeSlider-RangeSlider-stories.5d7cd4e6.iframe.bundle.js
packages/ui/storybook-static/runtime~main.33f7a344.iframe.bundle.js
packages/ui/storybook-static/sb-manager/chunk-7NJ6NIF4.mjs
packages/ui/storybook-static/sb-manager/chunk-CGGDZUA2.mjs
packages/ui/storybook-static/sb-manager/chunk-CPMVSDQN.mjs
packages/ui/storybook-static/sb-manager/chunk-GPWZILNL.mjs
packages/ui/storybook-static/sb-manager/chunk-JCTATS4D.mjs
packages/ui/storybook-static/sb-manager/chunk-JGOD3C2S.mjs
packages/ui/storybook-static/sb-manager/chunk-KQFPYAFV.mjs
packages/ui/storybook-static/sb-manager/chunk-N7O6UB6L.mjs
packages/ui/storybook-static/sb-manager/chunk-NF3XLATS.mjs
packages/ui/storybook-static/sb-manager/chunk-WCYDYUGX.mjs
packages/ui/storybook-static/sb-manager/formatter-WKNF2L7W-S3S4D7QF.mjs
packages/ui/storybook-static/sb-manager/globals.mjs
packages/ui/storybook-static/sb-manager/GlobalScrollAreaStyles-XIHNDKUY-JS3OGZQJ.mjs
packages/ui/storybook-static/sb-manager/index.mjs
packages/ui/storybook-static/sb-manager/OverlayScrollbars-VAV6LJAB-ZCK6WCDR.mjs
packages/ui/storybook-static/sb-manager/runtime.mjs
packages/ui/storybook-static/sb-manager/syntaxhighlighter-6JBF4TYN-AJTJUUBZ.mjs
packages/ui/storybook-static/sb-manager/WithTooltip-6RTI5BE5-PZRMLW3Q.mjs
packages/ui/storybook-static/sb-preview/chunk-M7Z73WKF.mjs
packages/ui/storybook-static/sb-preview/globals.mjs
packages/ui/storybook-static/sb-preview/runtime.mjs
packages/ui/storybook-static/Select-Select-stories.af068e8b.iframe.bundle.js
packages/ui/storybook-static/Selector-AsyncSelector-stories.664f79be.iframe.bundle.js
packages/ui/storybook-static/Selector-Selector-stories.a8b6aa94.iframe.bundle.js
packages/ui/storybook-static/Spoiler-Spoiler-stories.bf71b422.iframe.bundle.js
packages/ui/storybook-static/stories.json
packages/ui/storybook-static/Table-Table-stories.90d6875c.iframe.bundle.js
packages/ui/storybook-static/Tabs-Tabs-stories.249a83b4.iframe.bundle.js
packages/ui/storybook-static/Tabs-Tabs-stories.249a83b4.iframe.bundle.js.LICENSE.txt
packages/ui/storybook-static/Tag-Tag-stories.3675aaa8.iframe.bundle.js
packages/ui/storybook-static/TimeField-TImeField-stories.c81aaab1.iframe.bundle.js
packages/ui/storybook-static/TimeZonePicker-TimeZonePicker-stories.d14b2bda.iframe.bundle.js
packages/ui/storybook-static/Tooltip-Tooltip-stories.6d4c0faa.iframe.bundle.js
packages/ui/storybook-static/Typography-Text-stories.8a2371cd.iframe.bundle.js
