@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "trajan-sans-pro, Helvetica, Arial, sans-serif";
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "trajan-sans-pro, Helvetica, Arial, sans-serif";
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "trajan-sans-pro, Helvetica, Arial, sans-serif";
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "trajan-sans-pro, Helvetica, Arial, sans-serif";
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "TrajanPro";
  src: url("/fonts/TrajanPro/TrajanPro-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "TrajanPro";
  src: url("/fonts/TrajanPro/TrajanPro-Bold.otf");
  font-style: bold;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Old Fenris";
  src: url("/fonts/OldFenris/Old-Fenris.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@layer components {
  .bg-main {
    position: relative;
    background: #0d0a00;

    &::before {
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background: url("https://res.cloudinary.com/film-it/image/upload/v1648261306/The%20inn/concrete-stylized.png");
      background-repeat: repeat;
      background-size: cover;
      mix-blend-mode: screen;
      opacity: 0.05;
    }
  }
  .bg-games {
    @apply bg-gamesBg;
    position: relative;

    pointer-events: none;
    &::before {
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background: url("https://res.cloudinary.com/film-it/image/upload/v1648261306/The%20inn/concrete-stylized.png");
      background-repeat: repeat;
      background-size: cover;
      mix-blend-mode: screen;
      opacity: 0.12;
    }
  }
  .bg-createCampaign {
    position: relative;
    background: linear-gradient(
      179.62deg,
      #0e0a00 -79.35%,
      #25120e -3.81%,
      #25120e 25.17%,
      #0d0a00 68.63%
    );
    &::before {
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background: url("https://res.cloudinary.com/film-it/image/upload/v1648261306/The%20inn/concrete-stylized.png");
      background-repeat: repeat;
      background-size: cover;
      mix-blend-mode: screen;
      opacity: 0.1;
    }
  }
  .goldenBorder {
    border: 3px solid transparent;
    background-image: linear-gradient(#fcfcfc, #fcfcfc),
      linear-gradient(#ffd166, #9f5e25);
    background-origin: border-box;
    background-clip: content-box, border-box;
  }
  .goldenBorder2 {
    border: 3px solid;
    border-image-slice: 1;
    border-width: 3px;
    border-image-source: linear-gradient(#fcfcfc, #fcfcfc),
      linear-gradient(#ffd166, #9f5e25);
  }
  .goldenImageBorder {
    border-image: linear-gradient(90deg, #ffd166, #9f5e25) 1;
  }
  .px-100 {
    padding-left: 100px;
    padding-right: 100px;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #0d0a00;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:focus {
  outline: none;
}
::-moz-focus-inner {
  border: 0;
}

.ProseMirror .column-block {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 24px;
  padding: 8px 0;
}

.ProseMirror .column {
  overflow: auto;
  border: 1px gray dashed;
  border-radius: 8px;
  padding: 8px;
  margin: -8px;
}

.ProseMirror * {
  white-space: pre-wrap;
  word-wrap: break-word;
}
