.dropdowns3 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
}

.root {
  @apply grid;
  grid-template-columns: 0.5fr 2fr;
}

.previewComponent {
  height: 400px;
  position: relative;
}

.selectInput input {
  border: 3px solid #ffd166;
  padding: 24px 16px;
}
.selectInputError input {
  @apply border-red-800 border-2;
}
