.root {
  @apply rounded-md mt-2 p-2;
  border: 3px solid transparent;
  background-image: linear-gradient(#fcfcfc, #fcfcfc),
    linear-gradient(#ffd166, #9f5e25);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.dropzoneHeight {
  height: 450px;
}
