.nav {
  @apply items-center justify-between bg-brandGray col-span-full;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
  gap: 20px;
  height: 80px;
  border-width: 3px 0 3px 0;
  border-style: solid;
  border-image: linear-gradient(90deg, #ffd166, #9f5e25) 1;
  padding: 0 100px;
}
