.root {
  @apply flex flex-1 h-full bg-white rounded-md rounded-tl-none rounded-tr-none;
}

.root ul {
  list-style: disc outside none;
}
.root ol {
  list-style-type: decimal;
}

.wrapper {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr;
  min-width: 100%;
  min-height: 400px;
  resize: both;
  overflow: auto;
}

.editorBlockQuote {
  border-left: 3px solid rgba(13, 13, 13, 0.1);
  padding-left: 1rem;
}
.editorLink {
  border-bottom: 3px solid rgba(13, 13, 13, 0.1);
}
