.root {
  @apply sticky top-0 flex flex-row flex-wrap gap-2 items-center py-2 bg-transparent text-white rounded-md rounded-br-none rounded-bl-none z-10;
  border-bottom: 1px solid #ffd166;
}

.button {
  box-sizing: border-box;
  height: 28px;
  min-height: 28px;
  width: 28px;
  min-width: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.tableSelection1 {
  &:nth-child(-n + 1) {
    svg {
      color: blue;
      fill: blue;
      border: 1px solid blue;
    }
  }
}
.tableSelection2 {
  &:nth-child(-n + 2) {
    svg {
      color: blue;
      fill: blue;
      border: 1px solid blue;
    }
  }
}
.tableSelection3 {
  &:nth-child(-n + 3) {
    svg {
      color: blue;
      fill: blue;
      border: 1px solid blue;
    }
  }
}
.tableSelection4 {
  &:nth-child(-n + 4) {
    svg {
      color: blue;
      fill: blue;
      border: 1px solid blue;
    }
  }
}
